.alert {
    border: {
        radius: $border-radius;
        style: solid;
        width: $border-width;
    }
    padding: 1rem;
    text-align: center;

    @each $n, $c in $colors {
        &.#{$n} {
            background: $c;
            border-color: darken($c, 6%);

            @if (lightness($c) < 50) {
                color: fade-out($white, .2);
            }
            @else {
                color: fade-out($black, .2);
            }
        }
    }
}

